@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
body{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  margin: 0;
}

h2, p {
  margin: 0;
}

.wrapper {
  width: 100%
}

section, .main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 50px 0 50px 0;
}

.container {
  margin-left: 250px;
  margin-right: 250px;
  width: 945px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-style: bold;
  font-size: 18px;
  line-height: 30px;
  border-bottom: 1px solid #828282;
  padding: 40px 0 20px;
}

.nav-link {
  text-decoration: none;
  color: #828282;
}

.name {
  font-size: 47.34px;
  font-weight: 700;
}

.character {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.main-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

header {
  text-align: center;
  font-weight: 700px;
  font-size: 34px;
  line-height: 39.84px;
  margin-bottom: 50px
}

.info {
  background-color: #F4F4F4;
}

.about-description {
  Font-style: Medium;
  Line-height: 23.44px;
  Line-height: 100%;
  font-size: 20px;
  width: 451px;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
}

.skills {
  background-color: #FFFFFF;
}

.skill-items_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.skill-items {
  display: flex;
  justify-content: space-between;
}

.skill-items .sign {
  text-align: center;
  margin-bottom: 41px;
}

/* ///////////////////////////// */

.section-header {
  color: #070707;
  font-family: Roboto;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 50px;
}

/* /////////// Portfolio /////////// */

.portfolio {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 50px 0;
}

.porfolio-img {
  margin-bottom: 40px;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 86px;
}

.portfolio-section:last-child {
  margin-bottom: 0;
}

.portfolio-link {
  color: #070707;
  display: inline-block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: underline;
}

/* /////////// Footer /////////// */
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 60px;
}

.footer-header {
  margin-bottom: 35px;
}

.footer-social-links {
    display: inline-block;
}

.social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 60px;
}

.social-link img {
  width: 100%;
  height: 100%;
}

.social-link:last-child {
  margin-right: 0;
}
